@import '../assets/scss/main.scss';

$vertical-padding: 50px;
$horizontal-padding: 64px;
$main-width: 65%;
$main-margin-right: 35%;
$aside-width: 35%;

a {
  text-decoration: none;
}

.main {
  margin: 0 auto;

  .article-content {
    padding: 28px 0 28px 0;

    a,
    a:visited {
      color: rgba(227, 114, 54, 0.9);
    }

    a:hover {
      color: rgba(227, 114, 54, 1);
    }
  }

  .link,
  .link:visited {
    color: black;
  }

  .link:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  .link {
    font-weight: 600;
    text-decoration: none;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
  }

  h3 {
    font-size: 3.4rem;
    line-height: 1.6;

    @include media('<=xsmall') {
      font-size: 2.8rem;
    }

    @include media('>=medium', '<large') {
      font-size: 3rem;
    }
  }

  h4 {
    font-weight: 500;
  }

  section {
    margin-top: 42px;
  }

  .skills-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    ul {
      margin: 0;
    }
  }

  .skills-list ul {
    padding-left: 0px;

    > li {
      font-size: 1.3rem;
      list-style-type: none;
    }
  }

  .li-top {
    font-weight: 600;
    padding-bottom: 6px;
  }

  section .gitlab-link {
    color: rgba(227, 114, 54, 0.7);
  }

  section .gitlab-link:hover {
    color: rgba(227, 114, 54, 0.9);
    font-weight: 500;
  }

  // Setting the width and padding sizes
  @include media('>=large') {
    $main-width: 65%;
    $main-margin-right: 35%;
    $vertical-padding: 50px;
    $horizontal-padding: 8%;

    width: $main-width;
    margin-right: $main-margin-right;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
  @include media('>=medium', '<large') {
    $main-width: 70%;
    $main-margin-right: 30%;
    $vertical-padding: 50px;
    $horizontal-padding: 8%;

    width: $main-width;
    margin-right: $main-margin-right;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
  @include media('>xsmall', '<medium') {
    $main-width: 100%;
    $main-margin-right: 0;
    $vertical-padding: 50px;
    $horizontal-padding: 48px;

    width: $main-width;
    margin-right: $main-margin-right;
    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
  }
  @include media('<=xsmall') {
    $main-width: 100%;
    $main-margin-right: 0;
    $vertical-padding: 50px;
    $horizontal-padding: 24px;

    width: $main-width;
    margin-right: $main-margin-right;
    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
  }
}

.aside {
  align-self: stretch;
  margin: 0 auto;
  background-color: black;
  color: white;

  // Positioning on the side for
  // bigger screens
  @include media('>=medium') {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    right: 0;
    top: 0;
    height: 100%;

    .top {
      flex-grow: 1;
    }

    .bottom {
      width: 100%;
    }
  }

  // Positioning at the bottom for
  // smaller screens
  @include media('<medium') {
    position: relative;
    text-align: center;
    right: auto;
    top: auto;
    display: block;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;

    .bottom {
      padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
    }
  }

  // Setting the width and padding sizes
  @include media('>=large') {
    $aside-width: 282px;
    $vertical-padding: 50px;
    $horizontal-padding: 64px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
  @include media('>=medium', '<large') {
    $aside-width: 282px;
    $vertical-padding: 50px;
    $horizontal-padding: 48px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
  @include media('>xsmall', '<medium') {
    $aside-width: 100%;
    $vertical-padding: 50px;
    $horizontal-padding: 48px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
  @include media('<=xsmall') {
    $aside-width: 100%;
    $vertical-padding: 50px;
    $horizontal-padding: 24px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
}
